@charset "UTF-8";

.background-1 {
  height: 500px;
  background: url(../../image/coffee-background.jpg);
}

.background-2 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.background-3 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) center/cover no-repeat;
}

.background-4 {
  height: 500px;
  background: url(../../image/coffee-background.jpg) center/contain no-repeat;
}